/* 文章双栏样式微调 */
#recent-posts .recent-post-item .post_cover:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(0px);
  }
  #recent-posts .recent-post-item >.recent-post-info {
    padding: 30px 30px 25px;
    height: 100%;
  
  }
  #recent-posts .recent-post-item > .recent-post-info > .content {
      display: none;
  }
  #recent-posts .recent-post-item >.recent-post-info > .article-title {
    color: var(--text-highlight-color);
    font-size: 1.5em;
    line-height: 5;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: block; 
  }
  

  /*全局半透明背景*/
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] #recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: rgba(18, 18, 18, 0.8);
}

#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] #aside-content .card-widget {
    background: rgba(18, 18, 18, 0.8);
}
div#archive {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] div#archive {
    background: rgba(18, 18, 18, 0.8);
}
div#page {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] div#page {
    background: rgba(18, 18, 18, 0.8);
}

div#post {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] div#post {
    background: rgba(18, 18, 18, 0.8);
}

div#tag {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] div#tag {
    background: rgba(18, 18, 18, 0.8);
}

div#category {
    background: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] div#category {
    background: rgba(18, 18, 18, 0.8);
}

/***************************** 分类页面样式 *****************************/
#page .category-lists .category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1%; /* 设置分类项之间的间距 */
}

#page .category-lists .category-list .category-list-item {
    flex: 1 0 calc(20% - 1%); /* 初始宽度为每行五个，减去间距 */
    margin-bottom: 1%; /* 底部间距 */
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    padding: 10px; /* 内边距 */
}

@media (max-width: 1024px) {
    #page .category-lists .category-list .category-list-item {
        flex-basis: calc(33.33% - 1%); /* 在较小屏幕下，每行三个 */
    }
}

@media (max-width: 768px) {
    #page .category-lists .category-list .category-list-item {
        flex-basis: calc(50% - 1%); /* 在更小屏幕下，每行两个 */
    }
}

@media (max-width: 480px) {
    #page .category-lists .category-list .category-list-item {
        flex-basis: 100%; /* 在最小屏幕下，每行一个 */
    }
}
#page .category-lists .category-list .category-list-item .category-list-link::after {
    content: "";
    position: relative;
    width: 0;
    bottom: 0;
    display: block;
    height: 3px;
    border-radius: 3px;
    background: #fff; /* 为category-list-link添加hover效果的下划线 */
}

#page .category-lists .category-list .category-list-item .category-list-link:hover::after {
    width: 60%;
    left: 1%;
    transition: all 0.6s; /* 添加下划线展开的过渡效果 */
}

#page .list-beauty li:before, .category-lists ul li:before {
    border: #49b6f500;
}
#page .category-lists .category-list .category-list-item {
    position: relative; /* 相对定位，以便子元素可以使用绝对定位 */
    padding-top: 5px; /* 调整分类项顶部内边距，以容纳图标和数量 */
}

#page .category-lists .category-list .category-list-item .category-list-count {
    position: absolute; /* 绝对定位 */
    top: 0;
    right: 0; /* 放置在右上角 */
    color: #fff;
    font-size: 1rem;
    padding: 5px 10px; /* 调整内边距 */
    display: flex; /* 使用 Flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
}

#page .category-lists .category-list .category-list-item .category-list-count::before {
    content: "\f02d"; /* Font Awesome 6 Free 的图标 */
    padding-right: 10px; /* 调整图标与文章数量之间的距离 */
    font-family: "Font Awesome 6 Free"; /* 使用 Font Awesome 6 Free 的字体 */
}
#page .category-lists .category-list .category-list-count:after {
  content: '';
}

/* 新增样式用于图标显示 */
#page .category-lists .category-list .category-list-item .category-list-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px; /* 调整图标与内容之间的水平距离 */
}

#post #article-container.post-content h1,
#post #article-container.post-content h2,
#post #article-container.post-content h3,
#post #article-container.post-content h4,
#post #article-container.post-content h5,
#post #article-container.post-content h6 {
  padding-left: 0 !important; 
}

#post #article-container.post-content h1::before,
#post #article-container.post-content h2::before,
#post #article-container.post-content h3::before,
#post #article-container.post-content h4::before,
#post #article-container.post-content h5::before,
#post #article-container.post-content h6::before {
  position: relative;
  content: attr(data-toc) ' ';
  display: inline;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-left: 0;
}
/***************************** 分类页面样式 *****************************/
